html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 	 margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
}

/*ЧЕПУХА ЛЕТАЮЩЯЯ*/
#particles-js{
	height: 100%;
	background: linear-gradient(rgba(38,38,38,0.9),rgba(38,38,38,0.9)),url(../img/page1.jpg) no-repeat 50% 50% fixed / cover;
	transition: all 4s;

	}

.row{
	position: relative;
	height: 100%;
	overflow: hidden;
}

#particles-js:hover{
	transform: scale(1.2);
}

.page1 h1{
	color:#e4d7d7;
    text-align: center;
    margin:20% 27%;
    position: absolute;
	font-size: 90px;
	font-family: 'Anton', cursive;

}

.page2{
	background: #f7f1e3;
	height: 100%;
}
.page2 h1{
	margin:0% 45%;
	padding-top: 4%;
	font-family: 'Share Tech Mono', monospace;
	font-size: 80px;

}
.page2 .line {
	height: 8px;
	width: 20px;
	background-color: #262626;
	transition: all 0.9s;
	margin: -3% 40%;
}
.page2 p{
	font-family: 'Share Tech Mono', monospace;
	font-size: 26px;
	text-align: left;
	margin: 10% 40% 10% 40%
}
.page3{
	background: #ff793f;
	height: 100%;
}
.page3 h1{
	margin:0% 45%;
	padding-top: 4%;
	font-family: 'Share Tech Mono', monospace;
	font-size: 80px;

}
.page3 .line {
	height: 8px;
	width: 20px;
	background-color: #262626;
	transition: all 0.9s;
	margin: -3% 40%;
}
.page3 p{
	font-family: 'Share Tech Mono', monospace;
	font-size: 26px;
	text-align: left;
	margin: 10% 40% 10% 40%
}
.page4{
	background: #d1ccc0;
	height: 100%;
}
.page4 h1{
	margin:0% 45%;
	padding-top: 4%;
	font-family: 'Share Tech Mono', monospace;
	font-size: 80px;

}
.page4 .line {
	height: 8px;
	width: 20px;
	background-color: #262626;
	transition: all 0.9s;
	margin: -3% 40%;
}
.page4 p{
	font-family: 'Share Tech Mono', monospace;
	font-size: 26px;
	text-align: left;
	margin: 10% 40% 10% 40%
}
.page5{
	background: #ff5252;
	height: 100%;
}
.page5 h1{
	margin:0% 45%;
	padding-top: 4%;
	font-family: 'Share Tech Mono', monospace;
	font-size: 80px;

}
.page5 .line {
	height: 8px;
	width: 20px;
	background-color: #262626;
	transition: all 0.9s;
	margin: -3% 40%;
}
.page5 p{
	font-family: 'Share Tech Mono', monospace;
	font-size: 26px;
	text-align: left;
	margin: 10% 40% 10% 40%
}
.linetriger:hover .line {
	background-color: #262626;
	width: 340px;
}

.nav{
	position: fixed;
	width: 20px;
	height: 160px;
	margin-top: -80px;
	top: 50%;
	right: 50px;
	z-index: 20000;
}

.dot{
	cursor:pointer;]
	width: 15px;
	height: 15px;
	margin-top:8px;
	border-radius: 18px;
	background: rgba(255,255,255,255,0.5);

}

@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
	
}
