html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 	 margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
}
nav{
	position: fixed;
	margin-left: 70%;
	top:0;
	left:0;
	
	padding: 10px 100px;
	box-sizing: border-box;
	transition: .3s;
}
nav ul{
	list-style: none;
	float: right;
	margin:0;
	padding: 0;
	display: flex;
}
nav ul li {
	list-style:none;
	font-family: 'Amatic SC', cursive;
	font-size: 28px;
}
nav ul li a{
	line-height: 80px;
	color:#e4d7d7;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
}
nav ul li a:hover{
	text-decoration: none;
	color:#e95b5b;
}
#particles-js{
	height: 100%;
	background: linear-gradient(rgba(38,38,38,0.9),rgba(38,38,38,0.9)),url(../img/page1.jpg) no-repeat 50% 50% fixed / cover;
	}

.page1 h1{
	color:#e4d7d7;
    text-align: left;
    margin:20% 5%;
    position: absolute;
	font-size: 110px;
	font-family: 'Amatic SC', cursive;

}
.page1 a{
	color:#e4d7d7;
	max-width:600px;
	margin-top:29%;
	margin-left: 31%;
	font-size: 50px;
	font-family: 'Amatic SC', cursive;
	text-decoration: none;
	position: absolute;
	transition: all 0.3s;
}
.page1 a:hover{
	color:#e95b5b;
	text-decoration: none;
}
.page2{
	background:#e4d7d7;
	height: 1000px;
}
.page2 h1{
	margin: 10% 45%;
	font-family: 'Amatic SC', cursive;
	font-size: 80px;
	transition: all 0.5s;

}
